In [2]:
'''1. Calculate the sum, difference, product, and quotient of two numbers.'''

# sum of Two Number
num1 = 15
num2 = 12
sum = num1 + num2
print("Sum of", num1, "and", num2 , "is", sum)

#Difference of Two Number
num1 = 10
num2 = 5
result = num1 - num2
print("Subtraction using the Minus Operator:", result)

#Product Of Two Number
num5 = 10
num6 = 5
result = num1 * num2
print("product using the Operator:", result)

#Quotient Of Two Number
num7 = 100
num8 = 5
result = num1 / num2
print("Divide using the Operator:", result)

Sum of 15 and 12 is 27
Subtraction using the Minus Operator: 5
product using the Operator: 50
Divide using the Operator: 2.0

2.** Perform various assignment operations on a variable.**

In [3]:
#Multiply and assign
a = 3
b = 5
# a = a * b
a *= b
# Output
print(a)
#Modulas and assign
a = 3
b = 5

# a = a % b
a %= b

# Output
print(a)

15
3

3.**Compare two numbers and print the results.**

In [4]:
# Compare Two Number
a=5
b=7
print (a>b)
print (a<b)

False
True

4. Check conditions using logical operators.

In [5]:
# logical operator
a = 10
b = 10
c = -10
if a > 0 and b > 0:
    print("The numbers are greater than 0")
if a > 0 and b > 0 and c > 0:
    print("The numbers are greater than 0")
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

**5. Check the identity of variables.**

In [6]:
# This program shows various identities
str1 = "Anjali"
print(id(str1))

str2 = "Anjali"
print(id(str2))

# This will return True
print(id(str1) == id(str2))

# Use in Lists
list1 = ["Anu", "Asmita", "Susmita"]
print(id(list1[0]))
print(id(list1[2]))

# This returns false
print(id(list1[0])==id(list1[2]))

134076589474544
134076589474544
True
134076589484464
134076589484592
False

6. **Â«, Perform bitwise operations on any two integers.**

In [7]:
# bitwise operators

a = 10
b = 4

print("a & b =", a & b)

# Print bitwise OR operation
print("a | b =", a | b)

# Print bitwise NOT operation
print("~a =", ~a)

# print bitwise XOR operation
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

7. Use unary operators to change the sign of a n$mber.

In [8]:
A = [1, -3]
A = [-A[0]
if A[-1] < 0 else A[0], A[-1]]

print (A)

[-1, -3]

8.Use the ternary operator to assign values based on conditions.

In [9]:
a, b = 10, 20

if a != b:
    if a > b:
        print("a is greater than b")
    else:
        print("b is greater than a")
else:
    print("Both a and b are equal")

b is greater than a